body {
  background-color: #222;
  color:white;
}

img {
    width: 400px;
}

mark {
    font-size: 17px;
    color: white;
    background-color:#222;
}

#name {
    color: black;
    background-color: white;
    font-size: 35px;
}
li {
    font-size: 17px;
}

.testclass1 {
    font-size: 14px;
}

h1 {
    color: white;
}

#feature {
    font-size: 20px;
}

#promise {
    font-size: 20px;
}

h4 {
    font-size: 25px;
}

b {
    color: #f7941e;
}